<link href="{{ plugin_path('SocialMedia') }}/css/shariff.complete.css" rel="stylesheet">
<link href="{{ plugin_path('SocialMedia') }}/css/SocialStyles.css" rel="stylesheet">
<script src="{{ plugin_path('SocialMedia') }}/js/shariff.complete.js"></script>

{% set socialMediaData = config("SocialMedia.social.single.data") | split(', ') %}
{% set dataServices = "" %}
{% set socialText = config("SocialMedia.social.single.text") %}
{% set socialUrl = config("SocialMedia.social.single.url") %}
{% set socialMediaUrl = config("SocialMedia.social.single.mediaUrl") %}
{% set socialTheme = config("SocialMedia.social.single.theme") %}
{% set socialFixed = config("SocialMedia.social.single.fixed") %}

<div class="shariff socialbar singleItem"

    {% for i in 0..socialMediaData|length %}
        {% if i != socialMediaData|length %}
            {% if i == 0 %}
                {% set dataServices = dataServices ~ "\"" ~ socialMediaData[i] ~ "\"" %}
            {% else %}
                {% set dataServices = dataServices ~ ",\"" ~ socialMediaData[i] ~ "\"" %}
            {% endif %}
        {% endif %}
    {% endfor %}

    data-services='[{{ dataServices }}]'
    {% if socialFixed == true %}
      data-title='{{ socialText }}'
      data-url='{{ socialUrl }}'
      data-media-url='{{ socialMediaUrl }}'
    {% endif %}
    data-theme='{{ socialTheme }}'>

</div>
