<link href="{{ plugin_path('SocialMedia') }}/css/shariff.complete.css" rel="stylesheet">
<link href="{{ plugin_path('SocialMedia') }}/css/SocialStyles.css" rel="stylesheet">
<script src="{{ plugin_path('SocialMedia') }}/js/shariff.complete.js"></script>

{% set socialMediaData = config("SocialMedia.social.data") | split(', ') %}
{% set dataServices = "" %}
{% set socialText = config("SocialMedia.social.text") %}
{% set socialUrl = config("SocialMedia.social.url") %}
{% set socialMediaUrl = config("SocialMedia.social.mediaUrl") %}
{% set socialTheme = config("Social.Media.social.theme") %}

<div class="shariff socialbar singleItem">

    {% for i in 0..socialMediaData|length %}
        {% if i != socialMediaData|length %}
            {% if i == 0 %}
                {% set dataServices = dataServices ~ "\"" ~ socialMediaData[i] ~ "\"" %}
            {% else %}
                {% set dataServices = dataServices ~ ",\"" ~ socialMediaData[i] ~ "\"" %}
            {% endif %}
        {% endif %}
    {% endfor %}

    data-services='[{{ dataServices }}]'
    data-title="{{ socialText }}"
    data-url="{{ socialUrl }}/{{item.documents[0].data.texts.urlPath }}"
    data-media-url="{{ item.documents[0].data.iamges.item.url }}"
    data-theme="{{ socialTheme }}">

</div>
